:root{
    --neutro: rgb(217, 224, 219);
}
body{
    background-color: var(--neutro);
    text-align: center;
}
section{
    text-align: left;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 400px;
}